{% extends 'base.html' %}
{% load static %}
{% block content %}
        <h2>Contacts.</h2>
<h3>If you have any problem, please feel free to contact us.</h3>

<address>
    139 Carrington Rd, Mount Albert, Auckland 1025<br />
    <abbr title="Phone">P:</abbr>
    022 642 2978
</address>
<iframe frameborder="0" height="300px" width="85%" scrolling="no" 
src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=139+Carrington+Rd,+Mount+Albert,+Auckland&amp;aq=0&amp;oq=QualityTShirt&amp;sll=-36.8809126,174.7081061&amp;ie=UTF8&amp;hq=QualityTShirt,+Inc.,+139+Carrington+Rd,+Mount+Albert,+Auckland&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
<address>
    <strong>Support:</strong> SmartNZHealth Group <br />
    <a href='https://drive.google.com/file/d/0Bxe40J6wcZLpSl9nUmVCWm5fN1E/view'>Intro Video</a>
</address>

{% endblock %}
