{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="container">
    <div class="row">

        <div id="head" class="col-sm-8">
            <div class="zone_menu menu_5">

                <div class="moduletable">
                    <ul class="menu" id="main_menu">
                        <li id="ctl00_dp_menu_ctl00_li_menu" class="parent item1">

                            <input type="hidden" name="ctl00$dp_menu$ctl00$menulevel" id="ctl00_dp_menu_ctl00_menulevel" value="L01">
                            <input type="hidden" name="ctl00$dp_menu$ctl00$menuparentlevel" id="ctl00_dp_menu_ctl00_menuparentlevel" value="0">
                            <a onfocus="this.blur()" href="AboutUs.aspx?key=10002&amp;keyParent=L01"><span>About Smart<br>NZ Health</span></a>
                            <ul>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10002&amp;keyParent=L01"><span>Who we are</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10003&amp;keyParent=L01"><span>Why choose us</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10004&amp;keyParent=L01"><span>Mission and values</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10005&amp;keyParent=L01"><span>Quality approach</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10006&amp;keyParent=L01"><span>Contact us</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10007&amp;keyParent=L01"><span>Partner</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10008&amp;keyParent=L01"><span>Career</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="moduletable">
                    <ul class="menu" id="main_menu">
                        <li id="ctl00_dp_menu_ctl01_li_menu" class="parent item1">
                            <input type="hidden" name="ctl00$dp_menu$ctl01$menulevel" id="ctl00_dp_menu_ctl01_menulevel" value="L02">
                            <input type="hidden" name="ctl00$dp_menu$ctl01$menuparentlevel" id="ctl00_dp_menu_ctl01_menuparentlevel" value="0">
                            <a onfocus="this.blur()" href="AboutUs.aspx?key=10014&amp;keyParent=L02" style="line-height:40px">
                                <span>Health Solutions</span>
                            </a>
                            <ul>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10014&amp;keyParent=L02"><span>Group solutions</span></a></li>
                                <li><a onfocus="this.blur()" href="Health_GroupQuote.aspx?keyParent=L02"><span>Group quotation request</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10015&amp;keyParent=L02"><span>Individual solutions</span></a></li>
                                <li><a onfocus="this.blur()" href="Health_IndQuote.aspx?keyParent=L02"><span>Individual quotation request</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="moduletable">
                    <ul class="menu" id="main_menu">
                        <li id="ctl00_dp_menu_ctl02_li_menu" class="parent item1">
                            <input type="hidden" name="ctl00$dp_menu$ctl02$menulevel" id="ctl00_dp_menu_ctl02_menulevel" value="L03">
                            <input type="hidden" name="ctl00$dp_menu$ctl02$menuparentlevel" id="ctl00_dp_menu_ctl02_menuparentlevel" value="0">
                            <a onfocus="this.blur()" href="AboutUs.aspx?key=10011&amp;keyParent=L03" style="line-height:40px"><span>Emergency</span></a>
                            <ul>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10011&amp;keyParent=L03"><span>About Emergency Services</span></a></li>
                                <li><a onfocus="this.blur()" href="AboutUs.aspx?key=10012&amp;keyParent=L03"><span>Services partner</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="moduletable">
                    <ul class="menu" id="main_menu">
                        <li id="ctl00_dp_menu_ctl03_li_menu" class="parent item1">



                            <input type="hidden" name="ctl00$dp_menu$ctl03$menulevel" id="ctl00_dp_menu_ctl03_menulevel" value="L05">
                            <input type="hidden" name="ctl00$dp_menu$ctl03$menuparentlevel" id="ctl00_dp_menu_ctl03_menuparentlevel" value="0">
                            <a onfocus="this.blur()" href="Information_Newsletter.aspx?keyParent=L05"><span>Information <br>Center</span></a>
                            <ul>
                                <li><a onfocus="this.blur()" href="Information_Newsletter.aspx?keyParent=L05"><span>Newsletter</span></a></li>
                                <li><a onfocus="this.blur()" href="Information_Press.aspx?keyParent=L05"><span>Press Release</span></a></li>
                                <li><a onfocus="this.blur()" href="Information_Medical.aspx?keyParent=L05"><span>Medical Case Sharing</span></a></li>
                                <li><a onfocus="this.blur()" href="Information_Privileges.aspx?keyParent=L05"><span>Health Tips</span></a></li>
                                <li><a onfocus="this.blur()" href="Information_Download.aspx?keyParent=L05"><span>Document downloads</span></a></li>
                                <li><a onfocus="this.blur()" href="Information_QA.aspx?keyParent=L05"><span>Members' Privileges</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="search_bloc __web-inspector-hide-shortcut__">
                <input type="text" name="search" placeholder="Search.." style="vertical-align: middle;">
            </div>
        </div>
    </div>
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="{% static 'images/IndexImages/00.jpg' %}" alt="00" style="width: 100%">
            <div class="carousel-caption" role="option">
                <p>
                    SMART NZ HEALTH.
                    <a class="btn btn-default" href="http://www.unitec.ac.nz">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="{% static 'images/IndexImages/01.jpg' %}" alt="01" style="width: 100%">
            <div class="carousel-caption" role="option">
                <p>
                    SMART NZ HEALTH.
                    <a class="btn btn-default" href="http://www.unitec.ac.nz">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

        <div class="item">
            <img src="{% static 'images/IndexImages/02.jpg' %}" alt="02" style="width: 100%">
            <div class="carousel-caption" role="option">
                <p>
                    SMART NZ HEALTH.
                    <a class="btn btn-default" href="http://www.unitec.ac.nz">
                        Learn More
                    </a>
                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <table width="99.5%">
        <tbody>
            <tr>

                <td>
                    <table id="ctl00_Place_tbloginIF" width="100%" class="yuanTBL">
                        <tbody>
                            <tr>
                                <td style="width: 16%">
                                    <a onfocus="this.blur()" href="#" class="logo">
                                    </a>
                                    <img id="LoginImg" alt="login" src="{% static 'images/LOGIN.png' %}" style="vertical-align: middle;" width="50%">
                                </td>
                                <td nowrap="nowrap" style="width: 142px; padding-left: 3px;">

                                    <div id="liste_type">
                                        <div class="level_type">
                                            <span id="ctl00_Place_span_type" onmousemove="if($('#ctl00_Place_ulType').css('display')=='none'){$('#ctl00_Place_ulType').css('display','');}">Member</span>
                                            <input name="ctl00$Place$txtHiddenType" type="text" value="0" id="ctl00_Place_txtHiddenType" style="display: none;">
                                            <ul id="ctl00_Place_ulType">
                                                <li><a id="0" onfocus="this.blur()" onclick="javascript:return setTypeValueD('0',&quot;Emergency&quot;)">Emergency</a></li>
                                                <li><a id="1" onfocus="this.blur()" onclick="javascript:return setTypeValueD('1',&quot;Doctor&quot;)">Doctor</a></li>
                                                <li><a id="3" onfocus="this.blur()" onclick="javascript:return setTypeValueD('3',&quot;Patient&quot;)">Patient</a></li>
                                                <li><a id="4" onfocus="this.blur()" onclick="javascript:return setTypeValueD('4',&quot;HR&quot;)">HR</a></li>
                                                <li><a id="5" onfocus="this.blur()" onclick="javascript:return setTypeValueD('5',&quot;Insurer&quot;)">Insurer</a></li>
                                                <li><a id="6" onfocus="this.blur()" onclick="javascript:return setTypeValueD('6',&quot;Visitor&quot;)">Visitor</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td nowrap="nowrap" style="width: 124px;">
                                    <input name="ctl00$Place$txtUsername" type="text" value="Username" id="ctl00_Place_txtUsername" tabindex="2" class="ssOTextc" autocomplete="off" onblur="funSearchWordBlurDefault(this,&quot;Username&quot;,'en');" onfocus="funSearchWordFocus(this,&quot;Username&quot;,'en');">
                                </td>
                                <td nowrap="nowrap" style="width: 124px;">
                                    <input name="ctl00$Place$txtPassword" type="text" value="Password" id="ctl00_Place_txtPassword" tabindex="3" class="ssOTextc" autocomplete="off" onblur="if(this.value=='')ctl00_Place_pw_tips.style.display='';" onfocus="ctl00_Place_pw_tips.style.display='none';">
                                    <span id="ctl00_Place_pw_tips" nowrap="nowrap" onclick="ctl00_Place_pw_tips.style.display='none';ctl00_Place_txtPassword.focus();" style="z-index: 9999; position: absolute; color: rgb(156, 156, 156); top: 22px; cursor: text; left: 285px; width: 100px; border: 0px; margin-left: 6px; margin-top: -1px;"></span>
                                </td>
                                <td nowrap="nowrap" style="width: 64px;">
                                    <input name="ctl00$Place$txtCode" type="text" value="Code" id="ctl00_Place_txtCode" tabindex="4" class="ssOVerCode" autocomplete="off" onblur="funSearchWordBlurDefault(this,&quot;Code&quot;,'en');" onfocus="funSearchWordFocus(this,'Code','en');" onkeydown="return fnEnterPress(this,event,'ctl00_Place_Btnlogin','ctl00_Place_txtUsername','ctl00_Place_txtPassword','ctl00_Place_txtHiddenType');">
                                </td>
                                <td nowrap="nowrap" style="width: 43px;">
                                    <img src="{% static 'images/code/0001.JPG' %}" id="ctl00_Place_validatecode" alt="Validate Code" onclick="fnVerifyCode();" align="middle" style="width: 40px; height: 24.5px;">
                                </td>
                                <td id="ctl00_Place_tdAnther" nowrap="nowrap" style="width: 54px;">
                                    <a href="javascript:fnVerifyCode()" id="ctl00_Place_anther" style="color: #777777;
                                    vertical-align: middle;">CHANGE</a>
                                </td>
                                <td nowrap="nowrap" style="width: 39px;">
                                    <input type="submit" name="ctl00$Place$Btnlogin" value="GO" onclick="return fnCheck('Username','Password','Code');" id="ctl00_Place_Btnlogin" tabindex="5" class="ssOBtnL">
                                </td>
                                <td nowrap="nowrap" style="">
                                    <a href="Information_QA.aspx" id="ctl00_Place_problem" onfocus="this.blur()" target="_blank" class="logo" style="color: #777777;">Q&amp;A</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Smart NZ Health</h2>
        <ul>
            <li><a href="http://www.unitec.ac.nz">WHO IS Smart NZ Health</a></li>
            <li><a href="http://www.unitec.ac.nz">WHY CHOOSE Smart NZ Health</a></li>
            <li><a href="http://www.unitec.ac.nz">JOIN Smart NZ Health</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Patient</h2>
        <ul>
            <li><a href="http://www.unitec.ac.nz">How to Regester</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Login</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Manage Personal Info</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Protect Personal Info</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Check History Record</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Pay online</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Delete Account</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Doctor</h2>
        <ul>
            <li><a href="http://www.unitec.ac.nz">How to Regester</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Login</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Manage Personal Info</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Protect Personal Info</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Check History Record</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Pay online</a></li>
            <li><a href="http://www.unitec.ac.nz">How to Delete Account</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Others</h2>
        <ul>
            <li><a href="http://www.unitec.ac.nz">Investments</a></li>
            <li><a href="http://www.unitec.ac.nz">Case Study</a></li>
            <li><a href="http://www.unitec.ac.nz">Contact</a></li>
        </ul>
    </div>
</div>
{% endblock %}
