{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Profile</h2>

<p><span class="text-danger">* Required field.</span></p>

<form method="post" class="form-horizontal" action=""> {% csrf_token %}
    <hr />
    <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
{% if form.email %}
    <div class="form-group">
        {{ form.email.errors }}
        <label class="col-md-2 control-label" for="Email">Email</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." 
            id="Email" name="email" value="{{ form.email.value }}" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.password1 %}
    <div class="form-group">
        {{ form.password1.errors }}
        <label class="col-md-2 control-label" for="Password">Password</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="password" data-val="true" data-val-length="The Password must be at least 6 and at max 100 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." 
            id="Password" name="password1" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.password2 %}
    <div class="form-group">
        {{ form.password2.errors }}
        <label class="col-md-2 control-label" for="ConfirmPassword">Confirm password</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="password" data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" data-val-required="The Confirm password field is required." 
            id="ConfirmPassword" name="password2" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.first_name %}
    <div class="form-group">
        {{ form.first_name.errors }}
        <label class="col-md-2 control-label" for="FirstName">First Name</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="text" data-val="true" data-val-length="The First Name must be at least 1 and at max 100 characters long." data-val-length-max="100" data-val-length-min="1" data-val-required="The First Name field is required." 
            id="FirstName" name="first_name" value="{{ form.first_name.value }}" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.last_name %}
    <div class="form-group">
        {{ form.last_name.errors }}
        <label class="col-md-2 control-label" for="LastName">Last Name</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="text" data-val="true" data-val-length="The Last Name must be at least 1 and at max 100 characters long." data-val-length-max="100" data-val-length-min="1" data-val-required="The Last Name field is required." 
            id="LastName" name="last_name" value="{{ form.last_name.value }}" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.gender %}
    <div class="form-group">
        {{ form.gender.errors }}
        <label class="col-md-2 control-label" for="Gender">Gender</label>
        <div class="col-md-10">
            <select class="form-control col-md-9" data-val="true" data-val-required="The Gender field is required." 
            id="Gender" name="gender">
                <option>-- Select Gener --</option>
                <option value="M" {% if form.gender.value == 'M' %}selected{% endif %}>Male</option>
                <option value="F" {% if form.gender.value == 'F' %}selected{% endif %}>Female</option>
            </select>
            <span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="Gender" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.birthday %}
    <div class="form-group">
        {{ form.birthday.errors }}
        <label class="col-md-2 control-label" for="Birthday">Birthday</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="date" data-val="true" data-val-required="The Birthday field is required." 
            id="Birthday" name="birthday" 
            value='{% if "-" in form.birthday.value %}{{ form.birthday.value }}{% else %}{{ form.birthday.value|date:"Y-m-d" }}{% endif %}'
            required/><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="Birthday" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.mobile %}
    <div class="form-group">
        {{ form.mobile.errors }}
        <label class="col-md-2 control-label" for="Mobile">Mobile</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="tel" data-val="true" data-val-required="The Mobile field is required."
            id="Mobile" name="mobile" value="{{ form.mobile.value }}" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="Mobile" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.address %}
    <div class="form-group">
        {{ form.address.errors }}
        <label class="col-md-2 control-label" for="Address">Address</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="text" id="Address" name="address" value="{{ form.address.value }}" required/>
            <span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.emergency_contact %}
    <div class="form-group">
        {{ form.emergency_contact.errors }}
        <label class="col-md-2 control-label" for="EmergencyContactName">Emergency Contact Person</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="text" data-val="true" data-val-length="The Emergency Contact Person must be at least 1 and at max 100 characters long." data-val-length-max="100" data-val-length-min="1" data-val-required="The Emergency Contact Person field is required."
            id="EmergencyContactName" name="emergency_contact" value="{{ form.emergency_contact.value }}" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="EmergencyContactName" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}
{% if form.emergency_number %}
    <div class="form-group">
        {{ form.emergency_number.errors }}
        <label class="col-md-2 control-label" for="EmergencyContactPhone">Emergency Contact Number</label>
        <div class="col-md-10">
            <input class="form-control col-md-9" type="text" data-val="true" data-val-length="The Emergency Contact Number must be at least 1 and at max 100 characters long." data-val-length-max="100" data-val-length-min="1" data-val-required="The Emergency Contact Number field is required." 
            id="EmergencyContactPhone" name="emergency_number" value="{{ form.emergency_number.value }}" /><span class="text-danger"> * </span>
            <span class="text-danger field-validation-valid" data-valmsg-for="EmergencyContactPhone" data-valmsg-replace="true"></span>
        </div>
    </div>
{% endif %}


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </div>
</form>

    <div>
        <a class="btn btn-default" href='{% url "userprofile:change_password" %}'>Change Password</a>
        <!--<a class="btn btn-default" href="{% url 'userprofile:rec_list' %}">Back to List</a>-->
    </div>

{% endblock %}
