{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Patient {{ patient.username }} </h2><br/>
<hr/>
<table border=1>
<tr><th>Brief</th><th>Created</th><th>Updated</th><th>active</th><th>Diagnosis</th><th>Prescription</th><th>Doctor</th><th>Date</th></tr>
{% for rec in data %}
<tr>
<td>
<a href='{% url "userprofile:rec_detail" rec_id=rec.id %}'>{{ rec.brief }}</a>
</td>
<td>
{{ rec.created }} <br/>by {{ rec.created_by }}
</td>
<td>
{{ rec.updated }} <br/>by {{ rec.updated_by }} 
</td>
<td>
{{ rec.active }} <br/>
</td>
<td>
{{ rec.diagnosis|linebreaks|truncatechars:50 }} <br/>
</td>
<td>
{{ rec.prescription|linebreaks|truncatechars:50 }} <br/>
</td>
<td>
{{ rec.doctor }} <br/>
</td>
<td>
{{ rec.date }} <br/>
</td>
</tr>
{% endfor %}
</table>
{% endblock %}
