@model SmartNZHealth.Models.Patient

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Patient</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Allergy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Allergy" class="form-control" />
                <span asp-validation-for="Allergy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Birthday" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BloodID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BloodID" class="form-control" />
                <span asp-validation-for="BloodID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmergencyContactName" class="form-control" />
                <span asp-validation-for="EmergencyContactName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="EmergencyContactPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GenderID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GenderID" class="form-control" />
                <span asp-validation-for="GenderID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Hometown" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Hometown" class="form-control" />
                <span asp-validation-for="Hometown" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mobile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
